nav {
    color: white;
    font-family: 'Gowun Batang', serif;
    text-transform: uppercase;
    font-size: 1em;
    padding: 1em;
}

body {
    background-color: black;
}

#cf {
    position: relative;
}

img {
    border-radius: 50%;
    display: block;
    max-height: 700px;
    max-width: 800px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transistion: opacity 1s;
    transition: opacity 1s ease-in-out;
}

div:hover img.top {
    opacity: 0;
}

html, body {
    height: 100%;
    margin:0;
    padding:0;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}